.env
firebase_credentials.json
venv/
__pycache__/

# Loose compiled Python files
*.pyc
*.pyo
*.pyd

# Editor specific settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log